@import "../../../../styles/common.scss";

.HiddenCategories {
  @include flexCenter;
  height: 50px;
  background-color: black;
  font-size: 0.9em;

  a {
    text-decoration: none;
    span {
      padding: 6px;
      color: white;
    }
    & + a::before {
      padding-right: 12px;
      content: "｜";
      color: $themeDarkGrayColor;
    }
  }
}
