@import "../../../../styles/common.scss";

.HiddenCategories {
  @include flexCenter;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 0.9em;

  span {
    padding: 6px;
    & + span::before {
      padding-right: 12px;
      content: "｜";
      color: $themeDarkGrayColor;
    }
  }
}
