.QnAList {
  .qnaContents {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 110px 110px 300px 110px 105px;
    .qnaInput {
      padding: 10px;
      font-size: 12px;
      text-align: left;
      // color: #010101;
      color: #929292;
      background-color: white;
      border-bottom: 1px solid rgba(194, 194, 194, 0.5);
      border-left: none;
      border-right: none;
      a {
        text-decoration: none;
        color: #010101;
      }
    }
    .fitCenter {
      text-align: center;
    }
  }
  .block {
    display: flex;
    cursor: pointer;
  }
  button {
    background-color: transparent;
    border-style: none;
    margin: 0 auto;
  }

  .dropDownContent {
    width: 100%;
    height: 90px;
    background-color: #f9f9f9;
    font-size: 12px;
    line-height: 12px;
    padding: 10px 25px;
    color: #828282;
    border-bottom: 1px solid rgba(194, 194, 194, 0.5);
    // display: none;
    // border-bottom: 1px solid rgba(194, 194, 194, 0.5);
    .question {
      display: flex;
      margin: 10px 5px;
      h3 {
        color: pink;
        font-size: 22px;
        font-weight: 800;
      }
      // span {
      //   line-height: 12px;
      // }
    }
    .answer {
      display: flex;
      margin: 5px;
      h3 {
        color: pink;
        font-size: 22px;
        font-weight: 800;
      }
    }
  }
}
