.Detail {
  // height: 100vh;
  width: 100%;
  padding-bottom: 100px;

  .questionModal {
    width: 100%;
    // height: 500px;
    // border: 1px solid #262626;
    display: flex;
    background-color: white;
    justify-content: center;
    // align-items: flex-start;
    border-radius: 10px;
    .modalContainer {
      width: 100%;
      // height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 20px;

      h1 {
        width: 550px;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 10px;
        text-align: left;
        // border: 1px solid goldenrod;
        display: flex;
        justify-content: flex-start;
      }
      .modalTemplate {
        display: grid;
        grid-template-columns: 180px 700px;
        justify-content: center;
        padding: 10px;

        .input {
          height: 22px;
          width: 150px;
          font-size: 12px;
          border: 1px solid gray;
          border-radius: 3px;
        }

        .subtitle {
          border-right: none;
          border-bottom: none;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: black;
          font-size: 13px;
          font-weight: 600;
          background-color: #f6f6f6;
        }
        div {
          border: 1px solid lightgray;
          font-size: 12px;
          line-height: 13px;
          padding: 10px;
          border-bottom: none;
          text-align: left;
        }

        .radioGroup {
          display: flex;
          justify-content: flex-start;

          div {
            font-size: 12px;
            border: none;
            padding: 3px;
            color: black;
            margin-right: 13px;
            display: flex;
            align-items: center;
          }
        }
        .lastrow {
          border-bottom: 1px solid rgba(232, 235, 245, 0.9);
          textarea {
            margin: 5px 0px 35px 0;
            border: 1px solid gray;
          }
          p {
            color: gray;
            font-weight: lighter;
          }
        }
      }
    }
  }
}
