@import "../../styles/common";

.NavSide {
  position: fixed;
  top: 0;
  width: 140px;
  height: 100%;
  background-color: white;
  border-right: 1px solid $themeLightGrayColor;
  font-weight: bold;
  z-index: 100;

  .categories {
    position: relative;
    height: 100vh;
    padding: 174px 0 160px 20px;
    background-color: white;
    z-index: 100;

    .logoContainer {
      position: absolute;
      top: 20px;
      width: 100px;

      img {
        width: 100%;
      }
    }

    .categoryTop {
      display: flex;
      align-items: center;
      position: absolute;
      top: 120px;

      .categoryItem {
        display: flex;
        align-items: center;
        font-size: 0.9em;

        span {
          padding-bottom: 1px;

          &.arrowIcon {
            padding: 0 0 4px 10px;
            font-size: 0.2em;
          }
        }
        &:hover,
        &.selected {
          cursor: pointer;
          border-bottom: 1px solid $themeLogoColor;
          color: $themeLogoColor;
        }
      }
    }

    .categoryBottom {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      .categoryItem {
        padding: 8px 0;

        &:hover {
          cursor: pointer;
        }

        a {
          display: block;
          padding-bottom: 2px;
          text-decoration: none;
          font-size: 0.9em;
          color: black;
        }

        &:hover,
        &.selected {
          a span {
            border-bottom: 1px solid $themeLogoColor;
            color: $themeLogoColor;
          }
        }
      }
    }
  }

  .categorySide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 140px;
    height: 100vh;
    padding-left: 20px;
    background-color: white;
    border-right: 1px solid $themeLightGrayColor;
    z-index: 90;
    transform: translate(0, 0);
    transition: ease-in-out 0.3s;

    .categoryItem {
      padding: 8px 0;

      a {
        text-decoration: none;

        span {
          font-weight: normal;
          font-size: 0.8em;
          color: #222222;

          &:hover {
            cursor: pointer;
            border-bottom: 1px solid #222222;
          }
        }
      }
    }

    &.toggled {
      transform: translate(140px, 0);
      transition: ease-in-out 0.3s;
    }
  }
}
