@import "../../../../styles/common.scss";

.ProductCard {
  a {
    text-decoration: none;
    color: black;
  }

  .imageContainer {
    margin-bottom: 20px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .productInfo {
    height: 80px;
    .productPrice {
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 1.3em;
    }

    .productTitle {
      margin-bottom: 5px;
      font-size: 0.9em;
      color: #222222;
      line-height: 1.5em;
    }
  }

  .coupon {
    margin-bottom: 13px;
    background-color: white;
    border: 1px solid #b7bdc3;
    font-size: 0.8em;
    color: #7e868f;
  }

  .cardBottom {
    display: flex;
    align-items: center;
    margin-bottom: 13px;

    span {
      font-size: 0.9em;
      color: $themeDarkGrayColor;
      &.wishCount {
        margin: 0 20px 0 5px;
      }
    }
  }

  .storeContainer {
    height: 20px;
    p {
      padding-top: 10px;
      font-size: 0.8em;
      border-top: 1px solid $themeLightGrayColor;
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 0 40px;
  }
}
