@import "../../../../styles/common.scss";

.ProductStand {
  .standMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    .menuRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 500px;

      .gridBigButton {
        margin: 0 10px;
      }

      .optionSelector {
        width: 150px;
        font-size: 14px;
      }

      .inputSearch {
        width: 200px;
        height: 34px;
        margin-left: 10px;
        padding-left: 10px;
        border: 1px solid #cccccc;
        border-radius: 3px;

        &:focus {
          outline: none;
        }
      }

      .searchIcon {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }

  .productsContainer {
    width: 100%;
    display: grid;
    row-gap: 60px;
    column-gap: 25px;
    padding: 0 30px;

    &.grid4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &.grid6 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
