@import '../../styles/common.scss';

.ProductDetail {
  // height: 100%;
  width: 100%;
  margin-left: 143px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  .productSide {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
  }
}
