@import '../../../../styles/common.scss';

.SelectCategory {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  .selectCategoryContainer {
    display: flex;
    align-items: center;
    height: 51px;
    line-height: 51px;
    width: 100%;
    margin-left: 143px;
    button {
      border-style: none;
      background-color: transparent;
      font-size: 13px;
      font-weight: 600;
      display: flex;
      align-items: center;
      margin: 0px 10px;
      cursor: pointer;
    }
    select {
      width: 198px;
      height: 33px;
      padding: 0px 5px;
      font-weight: 600;
      border-color: lightgray;
      select::nth-child(3) {
        color: #4c7ed9;
      }
    }

    span {
      display: flex;
      align-items: center;
      margin: 0 20px;
      color: $themeDarkGrayColor;
    }
  }
}
