@import "../../../styles/common.scss";

.NoneCartList {
  display: flex;
  width: 70%;
  height: 1000px;
  margin: 0 auto;
  .side {
    height: 600px;
    margin: 0 auto;
    div {
      margin-left: 0;
      .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 90px;
          height: 90px;
          margin: 50px auto 20px auto;
        }
      }
      .noneProduct {
        // margin-bottom: 18px;
        text-align: center;
        font-size: 18px;
        letter-spacing: -1px;
        color: #323232;
      }
      .buttonList {
        @include flexCenter;
        margin-top: 25px;
        .goShopping {
          border-radius: 30px;
          width: 120px;
          height: 35px;
          font-size: 15px;
          background-color: white;
          border: 1px solid lightgray;
          margin-right: 10px;
          outline: 0;
          a {
            text-decoration: none;
            color: black;
          }
        }
        .goSelectList {
          border-radius: 30px;
          width: 120px;
          height: 35px;
          font-size: 15px;
          background-color: white;
          border: 1px solid lightgray;
          outline: 0;
        }
      }
    }
  }
}
