@import "../../styles/common.scss";

@mixin inputbox {
  width: 300px;
  height: 35px;
  font-size: 15px;
  font-weight: 700;
  padding-left: 15px;
  margin: 7px 50px 7px 0;
  border-radius: 0;
  &::placeholder {
    color: #9e9e9e;
  }
}

@mixin border {
  border-bottom: 1px solid lightgray;
}

@mixin pTag {
  color: red;
  margin: 0 0 5px 15px;
  font-size: 13px;
}

.SignUp {
  background-color: #f5f5f5;
  .joinContent {
    width: 700px;
    margin: 0 auto;

    .logo {
      img {
        width: 240px;
      }
      @include flexCenter;
      padding: 70px 0 50px 0;
    }
    .joinText {
      text-align: center;
      color: gray;
      font-size: 15px;
    }
    .joinTextBox {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -20px;
      color: gray;
      img {
        width: 140px;
        height: 70px;
      }
      .joinText {
        position: relative;
        top: 7px;
      }
      .login {
        position: relative;
        top: 7px;
        margin-left: 5px;
        font-size: 15px;
      }
    }
    .idAndPw {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .idSection {
        width: 500px;
        border: 1px solid #bbbbbb;
        border-bottom: none;
        background-color: white;

        input {
          width: 270px;
          height: 45px;
          margin: 2px 0;
          font-size: 15px;
          font-weight: 700;
          padding-left: 15px;
          margin-right: 70px;
          border-radius: 0;
          outline: none;
          &::placeholder {
            color: #9e9e9e;
          }
        }
        button {
          position: relative;
          top: -1px;
          width: 120px;
          height: 35px;
          border: none;
          background-color: #30beff;
          color: white;
          font-size: 15px;
          font-weight: 700;
          outline: none;
          cursor: pointer;
          &::placeholder {
            color: #9e9e9e;
          }
        }
        p {
          @include pTag;
        }
      }
      .pwSection {
        width: 500px;
        box-sizing: border-box;
        border-left: 1px solid #bbbbbb;
        border-right: 1px solid #bbbbbb;
        border-top: 1px solid lightgray;
        border-bottom: none;
        background-color: white;
        // display: flex;
        div {
          display: flex;
          input {
            width: 270px;
            margin: 2px 62px 0 0;
            font-size: 15px;
            font-weight: 700;
            padding-left: 15px;
            border-radius: 0;
            outline: none;
            &::placeholder {
              color: #9e9e9e;
            }
          }
          .locked {
            margin: 10px 10px 10px 100px;
          }
        }
        p {
          @include pTag;
        }
      }
      .pwAgainSection {
        // display: flex;
        width: 500px;
        // height: 68px;
        box-sizing: border-box;
        border: 1px solid #bbbbbb;
        border-left: 1px solid #bbbbbb;
        border-right: 1px solid #bbbbbb;
        border-top: 1px solid lightgray;
        background-color: white;
        div {
          display: flex;
          input {
            width: 270px;
            margin: 2px 62px 0 0;
            font-size: 15px;
            font-weight: 700;
            padding-left: 15px;
            border-radius: 0;
            outline: none;
            &::placeholder {
              color: #9e9e9e;
            }
          }
          .locked {
            margin: 10px 10px 10px 100px;
          }
        }
        p {
          @include pTag;
        }
      }

      .userInfo {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #bbbbbb;
        background-color: white;
        div {
          width: 100%;
          // height: 66px;
          border-bottom: 1px solid lightgray;

          input {
            margin: 10px 50px 10px 0;
            outline: none;
          }
          .nameInput {
            @include inputbox;
          }
          p {
            @include pTag;
          }
          .phoneNumberInput {
            @include inputbox;
          }
          .emailInput {
            @include inputbox;
          }
          .emailCode {
            @include inputbox;
          }
        }
        button {
          margin-left: 25px;
          position: relative;
          top: -2px;
          width: 90px;
          height: 33px;
          border: none;
          background-color: #2fb8fc;
          color: white;
          font-size: 13px;
          outline: none;
          cursor: pointer;
          &::placeholder {
            color: #9e9e9e;
          }
        }
        .textSignUp {
          width: 500px;
          box-sizing: border-box;
          text-align: left;
          color: #bbbbbb;
          padding: 20px;
          background-color: white;
          border: none;
          font-size: 14px;
        }
      }
    }
    .checkBox {
      width: 500px;
      margin: 0 auto;
      .agreement {
        width: 500px;
        height: 66px;
        display: flex;

        margin: 20px auto 0 auto;
        background-color: white;
        border: 1px solid #bbbbbb;
        box-sizing: border-box;
        padding-left: 15px;
        //   height: 400px;
        input {
          position: relative;
          top: 18px;
          width: 18px;
          height: 18px;
          border: 2px solid #bcbcbc;
          cursor: pointer;
        }
        div {
          padding-top: 24px;
          font-size: 15px;
          margin-left: 4px;
          font-weight: 700;
        }
      }

      .agreementList {
        background-color: white;
        width: 500px;
        border-left: 1px solid #bcbcbc;
        border-right: 1px solid #bcbcbc;
        padding: 20px 20px 35px 20px;
        font-size: 15px;
        .checkAll {
          display: flex;
          color: #40b8ff;
          input {
            width: 18px;
            height: 18px;
            border: 2px solid #bcbcbc;
            cursor: pointer;
          }
          div {
            padding-top: 7px;
            margin-left: 4px;
            font-weight: 500;
          }
        }
        .check {
          display: flex;
          input {
            position: relative;
            top: 18px;
            width: 18px;
            height: 18px;
            border: 2px solid #bcbcbc;
            cursor: pointer;
          }
          div {
            padding-top: 24px;
            margin-left: 4px;
            font-weight: 700;
          }
        }
        .line {
          width: 450px;
          margin: 0 auto;
          border-bottom: 1px solid #bcbcbc;
          font-weight: 200;
          position: relative;
          top: 36px;
        }
      }
      .optionalAgreementList {
        background-color: white;
        width: 500px;
        // height: 100px;
        border-left: 1px solid #bcbcbc;
        border-right: 1px solid #bcbcbc;
        border-bottom: 1px solid #bcbcbc;
        padding: 20px 20px 30px 20px;
        font-size: 15px;
        .checkAll {
          display: flex;
          color: #40b8ff;
          input {
            width: 18px;
            height: 18px;
            border: 2px solid #bcbcbc;
            cursor: pointer;
          }
          div {
            padding-top: 7px;
            margin-left: 4px;
            font-weight: 500;
          }
        }
        .check {
          display: flex;
          input {
            position: relative;
            top: 18px;
            width: 18px;
            height: 18px;
            border: 2px solid #bcbcbc;
            cursor: pointer;
          }
          div {
            padding-top: 24px;
            margin-left: 4px;
            font-weight: 700;
          }
        }
        .marketingInfo {
          font-size: 15px;
          padding: 20px 30px 0 25px;
          color: #bcbcbc;
        }
      }
      button {
        margin-top: 15px;
        width: 500px;
        height: 60px;
        border: none;
        background-color: #40b8ff;
        color: white;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 40px;
        cursor: pointer;
      }
    }
  }
}
