@import '../../../../styles/common.scss';

.Modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(194, 194, 194, 0.5);
  opacity: 90%;
  z-index: 5;

  .questionModal {
    width: 570px;
    height: 700px;
    // border: 1px solid #262626;
    display: flex;
    background-color: white;
    justify-content: center;
    border-radius: 25px;
    .modalContainer {
      width: 550px;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: 16px;
        padding: 10px 25px;
      }
      .modalTemplate {
        display: grid;
        grid-template-columns: 100px 400px;
        justify-content: center;
        padding: 10px;
        div {
          border: 1px solid rgba(194, 194, 194, 0.5);
          font-size: 13px;
          line-height: 13px;
          padding: 10px;
        }
        .phoneNumber {
          input {
            width: 40px;
          }
        }
        .radioGroup {
          display: flex;
          justify-content: space-evenly;

          div {
            font-size: 14px;
            border: none;
            padding: 3px;
          }
        }
      }
    }
    .modalButton {
      display: flex;
      justify-content: center;
      button {
        margin: 0 5px;
        padding: 2px 15px;
        background-color: mintcream;
        border-style: light;
        border: 1px solid rgba(194, 194, 194, 0.9);
        cursor: pointer;
      }
    }
  }
}
